<td-layout-nav>
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>Mi Perfil</span>
    <span flex></span>
    <a md-icon-button mdTooltip="Interactúa" [routerLink]="['/interacciones']" ><md-icon>share</md-icon></a>
    <a md-icon-button mdTooltip="Correos" [routerLink]="['/home/email']">
      <td-notification-count color="accent" [notifications]="4">
        <md-icon>email</md-icon>
      </td-notification-count>
    </a>
    <a md-icon-button mdTooltip="Inicio" [routerLink]="['/']"><md-icon>home</md-icon></a>
  </div>
  <td-layout-card-over>
    <md-tab-group>
      <md-tab label="Mi información" *ngIf="user">
        <md-card>
        <md-card-title>{{user.displayName}}</md-card-title>
        <md-card-subtitle> {{user.area}} </md-card-subtitle>
        <md-divider></md-divider>
        <md-list>
          <md-list-item layout-align="row">
            <md-icon md-list-avatar>email</md-icon>
            <h3 md-line> {{user.email}} </h3>
            <p md-line> Correo de contacto. </p>
          </md-list-item>
          <md-list-item layout-align="row">
            <md-icon md-list-avatar>account_balance</md-icon>
            <h3 md-line> {{user.institution}} </h3>
            <p md-line> Institución en la que laboro. </p>
          </md-list-item>
          <md-list-item layout-align="row">
            <md-icon md-list-avatar>star</md-icon>
            <h3 md-line> {{user.area}} </h3>
            <p md-line> Area de trabajo. </p>
          </md-list-item>
          <md-list-item layout-align="row">
            <md-icon md-list-avatar>sentiment_very_satisfied</md-icon>
            <h3 md-line> {{user.topicos}} </h3>
            <p md-line> Tópicos de interés. </p>
          </md-list-item>
          <md-list-item layout-align="row">
            <md-icon md-list-avatar>share</md-icon>
            <h3 md-line> Ha interactuado </h3>
            <p md-line> {{user.interactions}} veces </p>
          </md-list-item>
        </md-list>
        <md-divider></md-divider>
        <md-card-actions layout="row">
          <div layout="row">
            <div flex-gt-xs>
              <button md-button color="accent" class="text-upper" (click)="goBack()">
                Atras
              </button>
            </div>
            <div layout="row" flex-offset-gt-xs>
              <button md-raised-button mdTooltip="contactar administrador" class="margen"><md-icon color="primary">drafts</md-icon></button>
              <button md-raised-button mdTooltip="reportar un error" class="margen"><md-icon color="primary">report</md-icon></button>
            </div>
          </div>
        </md-card-actions>
        </md-card>
      </md-tab>
      <md-tab label="Editar mi perfil">
        <md-card>
        <md-card-content class="push-bottom-none">
          <form #featureForm="ngForm">
            <h4>Información Personal</h4>
            <md-divider></md-divider>
            <div layout="row" class="push-top">
              <!--<span flex="10"></span>-->
              <md-input-container flex="30">
                <input mdInput
                       #newNameElement
                       #newNameControl="ngModel"
                       type="text"
                       placeholder="Nombre"
                       [(ngModel)]="newName"
                       name="newName"
                       maxlength="20"
                       required>
                <md-hint align="start">
                  <span [hidden]="newNameControl.pristine || newNameElement.value.length != 0" class="tc-red-600">este campo es requerido.</span>
                </md-hint>
                <md-hint align="end">{{newNameElement.value.length}}/ 20</md-hint>
              </md-input-container>
              <span flex="20"></span>
              <md-input-container flex="30">
                <input mdInput
                       #newLastNameElement
                       #newLastNameControl="ngModel"
                       type="text"
                       placeholder="Apellidos"
                       [(ngModel)]="newLastName"
                       name="newLastName"
                       maxlength="20"
                       required>
                <md-hint align="start">
                  <span [hidden]=" newLastNameControl.pristine || newLastNameElement.value.length != 0" class="tc-red-600">este campo es requerido.</span>
                </md-hint>
                <md-hint align="end">{{newLastNameElement.value.length}}/ 20</md-hint>
              </md-input-container>
            </div>
            <div layout="row" class="push-top">
            </div>
            <div layout="row" class="push-top">
              <!--<span flex="10"></span>-->
              <md-select placeholder="Institución" [(ngModel)]="selectedValue"  name="institut" flex="30">
                <md-option *ngFor="let institut of institutions" [value]="institut.name">
                  {{institut.name}}
                </md-option>
              </md-select>
              <span flex="20"> </span>
              <md-select placeholder="Rol" [(ngModel)]="otherSelectedValue"  name="areas" flex="30">
                <md-option *ngFor="let are of areas" [value]="are.title">
                  {{are.title}}
                </md-option>
              </md-select>
            </div>
            <h4>Mis intereses</h4>
            <md-divider></md-divider>
            <div layout="row" class="push-top">
              <td-chips *ngIf="topics" flex="100" [items]="topics"
                        [readOnly]="readOnly"
                        [(ngModel)]="itemsRequireMatch"
                        placeholder="añadir tópico"
                        requireMatch
                        [ngModelOptions]="{standalone: true}">
              </td-chips>
            </div>
            <!--<button md-button (click)="showChips()"> showChips </button>-->
            <h4>Nueva Contraseña</h4>
            <md-divider></md-divider>
            <div layout="row" class="push-top">
              <!--<span flex="10"></span>-->
              <md-input-container flex="30">
                <input mdInput
                       #newPasswordElement
                       #newPasswordControl="ngModel"
                       type="password"
                       placeholder="Contraseña"
                       [(ngModel)]="newPassword"
                       name="newPassword"
                       maxlength="20"
                       required>
                <md-hint align="start">
                  <span [hidden]="newPasswordControl.pristine || newPasswordElement.value.length != 0" class="tc-red-600">este campo es requerido.</span>
                </md-hint>
                <md-hint align="end">{{newPasswordElement.value.length}}/ 20</md-hint>
              </md-input-container>
              <span flex="20"></span>
              <md-input-container flex="30">
                <input mdInput
                       #newPassword2Element
                       #newPassword2Control="ngModel"
                       type="password"
                       placeholder="Repita Contraseña"
                       [(ngModel)]="newPassword2"
                       name="newPassword2"
                       maxlength="20"
                       required>
                <md-hint align="start">
                  <span [hidden]=" newPassword2Control.pristine || newPassword2Element.value.length != 0" class="tc-red-600">este campo es requerido.</span>
                </md-hint>
                <md-hint align="end">{{newPassword2Element.value.length}}/ 20</md-hint>
              </md-input-container>
            </div>
          </form>
        </md-card-content>
        <div layout="row" class="push-top">
        </div>
        <md-divider></md-divider>
        <md-card-actions>
          <button md-button="" [disabled]="!featureForm.valid || !selectedValue || !otherSelectedValue || itemsRequireMatch.length==0" color="primary" (click)="save()">GUARDAR</button>
          <button md-button color="accent">Cancelar</button>
        </md-card-actions>
        </md-card>
      </md-tab>
    </md-tab-group>
  </td-layout-card-over>
</td-layout-nav>
