<div layout="column" layout-fill>
  <md-toolbar color="primary" class="md-whiteframe-z1">
    <span>Login</span>
  </md-toolbar>
  <div class="md-content" layout-padding flex>
    <div layout-gt-xs="row" layout-align-gt-xs="center start" class="margin">
      <div flex-gt-xs="50">
        <md-card tdMediaToggle="gt-xs" [mediaClasses]="['push-top-lg']">
          <md-card-title>
            <img class="logo" src="../../assets/icons/logoColor.svg">
          </md-card-title>
          <md-card-title>
            <span>Acceder</span>
          </md-card-title>
          <md-card-subtitle>Inicia sesión con tu E-mail corporativo</md-card-subtitle>
          <md-divider></md-divider>
          <md-card-content>
            <form #loginForm="ngForm">
              <div layout="row">
                <md-input-container flex>
                  <input mdInput #userElement #userControl="ngModel" placeholder="Usuario" type="email" maxlength="30" name="username" [(ngModel)]="username" required placeholder="Ingresa una dirección de correo adecuada">
                  <span md-prefix><md-icon>persona</md-icon></span>
                  <md-hint align="start">
                    <span [hidden]="!userControl.errors?.required || userControl.pristine" class="tc-red-600">Required</span>
                    <!--<span [hidden]="!passControl.errors?.type || passControl.pristine" class="tc-red-600">Email</span>-->
                  </md-hint>
                  <md-hint align="end">{{userElement.value.length}} / 30</md-hint>
                </md-input-container>
              </div>
              <div layout="row">
                <md-input-container flex>
                  <input mdInput #passElement #passControl="ngModel" placeholder="Contraseña" type="password" name="password" [(ngModel)]="password" required >
                  <span md-prefix><md-icon>lock</md-icon></span>
                  <md-hint align="start">
                    <span [hidden]="!passControl.errors?.required || passControl.pristine" class="tc-red-600">Required</span>

                  </md-hint>
                  <md-hint align="end">Something hard to guess</md-hint>
                </md-input-container>
              </div>
            </form>
          </md-card-content>
          <md-divider></md-divider>
          <md-card-actions layout="row">
            <button flex md-raised-button color="accent" [disabled]="!loginForm.form.valid" (click)="login()">Sign In</button>
            <md-card-subtitle align="right" >
              <a href="">¿Has olvidado tu contraseña?</a>
            </md-card-subtitle>
          </md-card-actions>
        </md-card>
      </div>
    </div>
  </div>
</div>
