.wat{
  width: 200px;
}
.bg-cover{
 background-image: url("../../assets/img/salud05.jpg");
 background-size: cover;
}
.bg-contact{
  background-image: url("../../assets/img/salud02.jpg");
  background-size: cover;
}
