:host /deep/ {
  .tick text {
    font-size: 24px;
  }
}
.orangediv{
  background: #FF9900;
}
.orangetitle{
  font-weight: bold;
  font-size: 28px;
  color: #EF6C00;
}
.margen{
  background-color:transparent;
  margin: 0 2px;
}
