<td-layout-nav >
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>Interacciones</span>
    <span flex></span>
    <a md-icon-button mdTooltip="Correos" [routerLink]="['/home/email']">
      <td-notification-count color="accent" [notifications]="4">
        <md-icon>email</md-icon>
      </td-notification-count>
    </a>
    <a md-icon-button mdTooltip="Perfil" [routerLink]="['/perfil']" ><md-icon>account_box</md-icon></a>
    <a md-icon-button mdTooltip="Inicio" [routerLink]="['/']"><md-icon>home</md-icon></a>
  </div>
  <td-layout-manage-list #manageList
                        [opened]="media.registerQuery('gt-sm') | async"
                        [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'push'"
                        [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '257px' : '100%'">
    <md-toolbar td-sidenav-content>
      <span>Grupos</span>
    </md-toolbar>
    <md-nav-list td-sidenav-content>
      <a md-list-item
        md-ripple class="block relative"
        (click)="!media.query('gt-sm') && manageList.close()"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}"
        [routerLink]="['/interacciones']">
        <md-icon md-list-icon>dashboard</md-icon>
        TODOS
      </a>
      <a md-list-item
        md-ripple class="block relative"
        (click)="!media.query('gt-sm') && manageList.close()"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact :true}"
        [routerLink]="['docentes']">
        <md-icon md-list-icon>star</md-icon>
        Docentes
      </a>
      <a md-list-item
        md-ripple class="block relative"
        (click)="!media.query('gt-sm') && manageList.close()"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}"
        [routerLink]="['cientificos']">
        <md-icon md-list-icon>star</md-icon>
        Científicos
      </a>
      <a md-list-item
         md-ripple class="block relative"
         (click)="!media.query('gt-sm') && manageList.close()"
         [routerLinkActive]="['active']"
         [routerLinkActiveOptions]="{exact:true}"
         [routerLink]="['tecnicos']">
        <md-icon md-list-icon>star</md-icon>
        Técnicos
      </a>
      <a md-list-item
         md-ripple class="block relative"
         (click)="!media.query('gt-sm') && manageList.close()"
         [routerLinkActive]="['active']"
         [routerLinkActiveOptions]="{exact:true}"
         [routerLink]="['administrativos']">
        <md-icon md-list-icon>star</md-icon>
        Administrativos
      </a>
      <a md-list-item
         md-ripple class="block relative"
         (click)="!media.query('gt-sm') && manageList.close()"
         [routerLinkActive]="['active']"
         [routerLinkActiveOptions]="{exact:true}"
         [routerLink]="['nogubernamentales']">
        <md-icon md-list-icon>star</md-icon>
        No gubernamentales
      </a>
      <h3 *ngIf="mostrarAdmin" md-subheader>Admin Menu</h3>
      <a *ngIf="mostrarAdmin" md-list-item md-ripple href="http://salud-web.herokuapp.com/admin/" class="block relative">
        <md-icon md-list-icon>receipt</md-icon>
        Log
      </a>
      <a *ngIf="mostrarAdmin" md-list-item md-ripple href="http://salud-web.herokuapp.com/admin/" class="block relative">
        <md-icon md-list-icon>settings</md-icon>
        Settings
      </a>
    </md-nav-list>
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <span>{{title}}</span>
      <span flex></span>
      <button md-icon-button><md-icon class="md-24">view_module</md-icon></button>
      <button md-icon-button><md-icon class="md-24">sort</md-icon></button>
      <button md-icon-button><md-icon class="md-24">settings</md-icon></button>
      <button md-icon-button><md-icon class="md-24">more_vert</md-icon></button>
    </div>
    <router-outlet></router-outlet>
  </td-layout-manage-list>
</td-layout-nav>
